body {

}
a{
   padding:0 10px;
}
header{
    text-align: center;
}
#featured-property{
    text-align: center;
}
#featured-property>p{
    font-size: 15px;
    margin: 0 30%;
    
}
#featured-property p:last-child{
 margin-top: 20px;
}
#details{
    display: flex;
    justify-content: space-evenly;
    background-color: brown;
    margin-top: 25px;
}